/**
 * 2.0 Media Queries
 * ----------------------------------------------------------------------------
 */



/* WordPress Media Queries */
@media (max-width: 600.98px) {
  #slide .carousel-inner .slide-action {
    top: 0%;
    transform: translateX(25%);
  }

  #slide .feature-one-single{
    display: none;
  }
  #bio .offset-1 {
    margin-left: 0%;
  }
  #bio .side-slider .note-box {
    left: 0;
  }
  #advanges .advange-single .img-box .icon-box {
    bottom: 200px;
  }
  #advanges .advange-single {
    margin-bottom: 2rem;
  }
  #made-benin .right {
    text-align: center;
    margin-top: 6rem;
  }
  #made-benin .left {
    text-align: center;
  }
  #made-benin .share-product {
    top: 7rem;
  }
  #banner .banner-content h3 {
    font-size: 1.5rem;
    line-height: 30px;
  }
  #banner .banner-content .btn-box {
    padding: 0.5rem 1rem;
    margin-right: -1rem;
    margin-left: 1.1rem;
  }
  #site-footer {
  text-align: center;
 }
}


@media (min-width: 601px) and (max-width: 782.98px) {
  #slide .carousel-inner .slide-action {
    top: 0%;
    transform: translateX(25%);
  }
  #slide .feature-one-single{
    display: none;
  }
  #bio .offset-1 {
    margin-left: 0%;
  }
  #advanges .advange-single .img-box .icon-box {
    bottom: 210px;
  }
  #made-benin .right {
    text-align: center;
    margin-top: 6rem;
  }
  #banner .banner-content h3 {
    font-size: 2rem;
    line-height: 30px;
  }
}


@media (min-width: 367px) and (max-width: 850px) {
  #slide .carousel-inner .slide-action {
    top: 15%;
    transform: translateX(50%);
  }
  #slide .feature-one-single{
    display: none;
  }
  #advanges .advange-single .img-box .icon-box {
    bottom: 190px;
  }
  #made-benin .right {
    text-align: center;
    margin-top: 6rem;
  }
  #made-benin .share-product {
    top: 7rem;
  }
  #banner .banner-content .shape-two,
  #banner .banner-content .shape-one {
    top: 10px;
  }
  #site-footer {
    text-align: center;
   }
   #site-footer .footer-bottom .footer-inner .bottom-scroll a {
    height: 108px;
   }
   #bio .offset-1 {
    margin-left: 0%;
  }
}

@media (min-width: 783px) {
  #advanges .advange-single {
    margin-bottom: 2rem;
  }
  
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  #bio .offset-1 {
    margin-left: 0%;
  }
  #bio .side-slider {
    margin-top: 3rem;
  }
}

/* Small devices (landscape phones, 576px, up to 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  #bio .side-slider {
    margin-top: 3rem;
  }
  #bio .side-slider .note-box {
    left: 0;
  }
  #bio .side-slider .note-box {
    left: 0;
  }
  
  #advanges .advange-single {
    margin-bottom: 2rem;
  }
  #site-footer .footer-bottom .footer-inner .bottom-scroll a {
    height: 108px;
   }
}

/* Medium devices (tablets, 768px, up to 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  #bio .side-slider {
    margin-top: 3rem;
  }
  #bio .side-slider .note-box {
    left: 0;
  }
  #advanges .advange-single {
    margin-bottom: 2rem;
  }
  #made-benin .share-product {
    top: 7rem;
  }
}

/* Large devices (desktops, 992px, up to 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  #bio .offset-1 {
    margin-left: 0%;
  }
  #bio .side-slider {
    margin-top: 3rem;
  }
}

/* X-Large devices (large desktops, 1200px, up to 1400px) */
@media (min-width: 1200px) and (max-width: 1399.98px) {

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}