@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 1rem;
    overflow-x: hidden !important;
   }
  body {
    font-family: 'Inter Tight', sans-serif;
    font-size: 1rem;
    overflow-x: hidden !important;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  a {
    text-decoration: none !important;
  }
  h2 {
    font-size: 2.5rem !important;
  }
  
    /**********************************************
                        Header
    **********************************************/
    #header {
      position: relative;
      display: block;
      width: 100%;
      transition: all 500ms ease;
      z-index: 99;
    }
    #header .header-wrapper-inner {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    #header .logo img{ 
      max-width: 100%;
      width: 100px;
      max-height: 100%;
      border-radius: 50%;
    }

    #header .main-menu-box { 
      display: block;
      padding: 1rem 0 0.4rem;
    }

    #header .menu-box-top {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 800px;
      background-color: #0B9444;
      color: #fff;
      padding: 1rem 3rem 1rem;
      border-radius: 20px;
    }

    #header .contact-list {
      position: relative;
      display: flex;
      align-items: center;
      list-style: none;
      margin-bottom: 0 !important;
      padding-left: 0 !important;
    }
    #header .contact-list li {
      position: relative;
      display: flex;
      align-items: center;
    }
    #header .contact-list li+li {
      margin-left: 1rem;
    }
    #header .social-icons {
      position: relative;
      display: flex;
      align-items: center;
    }
    #header .social-icons a{
      position: relative;
      display: flex;
      align-items: center;
      font-size: 1rem;
      color: #fff;
      margin: 0 0 0 1.5rem;
    }
    #header .menu-box-bottom .navbar .navbar-nav li {
      padding: 0.5rem;
      margin: 0 1rem;
    }
    #header .menu-box-bottom .navbar .navbar-nav li a {
      color: #3C3C3C !important;
    }

  /**********************************************
                Menu Sticky
  **********************************************/
  .main-menu {
    display: block;
  }
  .sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    visibility: hidden;
    transform: translateY(-120%);
    transition: transform 500ms ease, visibility 500ms ease, -webkit-transform 500ms ease;
    box-shadow: 0px 10px 60px 0px rgb(0 0 0 / 5%);
    z-index: 991;
  }
  .sticky-header.sticky-fixed {
    transform: translateY(0);
    visibility: visible;
  }
  .sticky-header .navbar-brand img {
    max-width: 100%;
    width: 80px;
    max-height: 100%;
    border-radius: 50%;
  }
  .sticky-header .navbar-nav a {
    margin: 1rem;
    color: #3C3C3C;
  }
  .sticky-header .navbar-nav a:hover {
    color: #0B9444;
  }








    /**********************************************
                        Slider
    **********************************************/
    #slide {
      position: relative;
      display: block;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    #slide .carousel-inner .slide-action {
      position: absolute;
      display: block;
      text-align: center;
      color: #fff;
      z-index: 1;
      top: 25%;
      transform: translateX(100%);
    }
    #slide .carousel-inner .slide-action p{
      position: relative;
      display: inline-block;
    }
    #slide .carousel-inner .slide-action p::before {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      bottom: -20px;
      height: 20px;
      background-image: url(images/main-slider-shape-1.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      z-index: -1;
    }
    #slide .carousel-inner .slide-action h1 {
      font-weight: 600;
      font-size: 3rem;
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
    #slide .carousel-inner .slide-action .btn-box{
      background-color: #0B9444;
      color: #fff;
      padding: 1rem 2rem;
      border: 0;
      border-radius: 40px;
    }
    #slide .carousel-inner .slide-action .btn-box i {
      background-color: #E8D52C;
      padding: 0.6rem;
      margin-right: -1.5rem;
      margin-left: 1.5rem;
      border-radius: 50%;
    }
    #slide .carousel-indicators {
      position: absolute;
      flex-direction: column-reverse !important;
      top: 0 !important;
      left: 80% !important;
      right: 0 !important;
      bottom: 0 !important;
      margin-left: 15% !important;
      z-index: 100;
    }
    #slide .carousel-indicators button {
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }
    #slide .carousel-indicators button.active {
      height: 15px;
      border-radius: 35%;
    }
    #slide .feature-one {
      position: relative;
      display: block;
      margin-top: 340px;
      z-index: 90;
    }
    #slide .feature-one-single {
      position: relative;
      display: flex;
      align-items: center;
      padding: 2rem 0 2rem;
      box-shadow: 0px -1px 0px 0px rgb(255 255 255 / 80%)
    }
    #slide .feature-one-single img{
      max-width: 100%;
      width: 90px;
      max-height: 100%;
    }
    #slide .feature-one-single .feature-content {
      color: #fff;
      margin-left: 2rem;
    }
    #slide .feature-one-single .feature-content span {
      font-weight: 300;
    }

    /**********************************************
                        Bio
    **********************************************/
    #bio {
      background: url('images/section-bg01.png');
      background-position: center top;
      background-size: cover;
      background-repeat: no-repeat;
    }
    #bio h2 {
      font-weight: 700;
      font-size: 1.5rem;
      color: #0B9444;
      margin-bottom: 1.3rem;
    }
    #bio span {
      font-weight: 600;
      font-size: 1.2rem;
      color: #000;
    }
    #bio p {
      font-weight: 400;
      color: #3C3C3C;
      line-height: 25px;
      margin-top: 1.3rem;
      margin-bottom: 2rem;
    }
    #bio .btn-box{
      background-color: #0B9444;
      color: #fff;
      padding: 1rem 2rem;
      border: 0;
      border-radius: 40px;
    }
    #bio .btn-box i {
      background-color: #E8D52C;
      padding: 0.6rem;
      margin-right: -1.5rem;
      margin-left: 1.5rem;
      border-radius: 50%;
    }
    #bio .side-slider {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }
    #bio .side-slider .carousel-inner img {
      border-radius: 10px;
    }
    #bio .side-slider .note-box {
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      width: 150px;
      left: -60px;
      bottom: 100px;
      padding: 1.25rem 1.8rem;
      line-height: 1.2;
      background-color: #fff;
      color: #0B9444;
      z-index: 1;
      border-radius: 4px;
      box-shadow: 0 0 20px rgb(0 0 0 / 5%);
    }

    #bio .side-slider .note-box::after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      bottom: -20px;
      right: 30px;
      border-style: solid;
      border-color: transparent #fff transparent transparent;
      border-width: 0 15px 20px 0;
    }

    #bio .side-slider .note-box h4 {
      font-weight: 700;
    }
    #bio .carousel-indicators button.active {
      background-color: #E8D52C;
      width: 15px;
      border-radius: 7%;
    }

     /**********************************************
                      Advanges
    **********************************************/
    #advanges {
      position: relative;
      display: block;
      z-index: 1;
    }
    #advanges::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      height: 567px;
      background-color: #e0e0e0;
      z-index: -1;
    }
    #advanges .advange-bg {
      background: url(images/services-one-shape-1.png) top center no-repeat ;
      background-size: cover;
      top: 170px;
      right: 0;
      left: 0;
      height: 398px;
      opacity: .50;
      z-index: -1;
    }
    #advanges .title {
      position: relative;
    }
    #advanges .title span {
      font-weight: 300;
      color: #0B9444;
      font-style: italic;
    }
    #advanges .title h2 {
      margin-top: 1.5rem;
      margin-bottom: 2.5rem;
    }
    #advanges .advange-single {
      position: relative;
      display: block;
      background-color: #fff;
      padding: 3rem 2.5rem 2.2rem;
      border-radius: 7px;
      box-shadow: 0px 10px 60px 0px rgb(0 0 0 / 5%);
    }
    #advanges .advange-single .img-box {
      margin: 0 auto;
      max-width: 196px;
      width: 100%;
    }
    #advanges .advange-single .img-box img {
      border-radius: 50%;
    }
    #advanges .advange-single .img-box .icon-box {
      position: absolute;
      display: inline-block;
      bottom: 210px;
      left: 50%;
      transform: translateX(-50%);
      
    }
    #advanges .advange-single .img-box .icon-box img {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background-color: #0B9444;
    }
    #advanges .advange-single .content-box {
      position: relative;
      display: block;
      text-align: center;
      margin-top: 3rem;
    }
    #advanges .advange-single .content-box p {
      font-weight: 300;
      color: #3C3C3C;
    }

    /**********************************************
                    Made In Benin
    **********************************************/
    #made-benin .title h2 {
      font-weight: 600;
      color: #3C3C3C;
      margin-bottom: 2rem;
    }
    #made-benin .title h2 > span {
      color: #0B9444;
    }
    #made-benin .ship-product {
      position: relative;
      display: block;
      background-color: #0B9444;
      padding:  2.5rem 0rem 4rem;
      color: #fff;
      border-radius: 12px;
    }
    #made-benin .share-product {
      position: relative;
      display: block;
      top: 9rem;
    }
    #made-benin .feature {
      margin-bottom: 2rem;
    }
    #made-benin .feature .item-feature {
      font-weight: 600;
    }
    #made-benin .feature .item-feature img {
      max-width: 100%;
      width: 50px;
      max-height: 100%;
    }
    #made-benin .feature .item-feature span {
      margin-left: 1rem;
    }
    #made-benin .feature p {
      font-weight: 300;
      color: #3C3C3C;
    }
    #made-benin .right {
      text-align: right;
    }
    #made-benin .right .feature .item-feature span {
      margin-right: 1rem;
    }

    /**********************************************
                    Banner
    **********************************************/
   #banner {
    position: relative;
    display: block;
    background: url(images/main-slider-1-1.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
   }
   #banner .banner-content {
    position: relative;
    display: block;
    max-width: 850px;
    margin: 0 auto;
    z-index: 1;
   }
   #banner .banner-content .shape-one {
    position: absolute;
    top: 50px;
    left: 0;
    z-index: -1;
   }
   #banner .banner-content .shape-two {
    position: absolute;
    top: 50px;
    right: 0;
    z-index: -1;
   }
   #banner .banner-content h3 {
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 60px;
    text-align: center;
    color: #fff;
   }
   #banner .banner-content .btn-box {
    background-color: #0B9444;
    color: #fff;
    padding: 1rem 2rem;
    margin-top: 3rem;
    border: 0;
    border-radius: 40px;
   }
   #banner .banner-content .btn-box i {
    background-color: #E8D52C;
    padding: 0.6rem;
    margin-right: -1.5rem;
    margin-left: 1.5rem;
    border-radius: 50%;
  }

  /**********************************************
                    Recent Posts
  **********************************************/
  #recent-post .title h2 {
    font-weight: 600;
    font-size: 2.5rem;
    color: #3C3C3C;
    margin-bottom: 1rem;
  }

  #recent-post .title span {
    font-weight: 300;
    color: #3C3C3C;
  }

  #recent-post .blog-one {
    position: relative;
    display: block;
    margin-top: 1.5rem;
  }
  #recent-post .blog-one .blog-one-img {
    position: relative;
    display: block;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    z-index: 1;
  }
  #recent-post .blog-one .blog-one-img .blog-date {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #0B9444;
    color: #fff;
    padding: 11px 20px 0px;
    border-top-left-radius: 15px;
    z-index: 2;
  }
  #recent-post .blog-one .blog-content {
    position: relative;
    display: block;
    background-color: #f0f0f0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 1.4rem 2.5rem 2rem;
  }
  #recent-post .blog-one .blog-content span {
    font-weight: 200;
    font-size: 1rem;
    color: #2c2f33;
  }
  #recent-post .blog-one .blog-content a {
    font-weight: 600;
    font-size: 1.2rem;
    color: #3C3C3C;
    margin-top: 1rem;
  }

  /**********************************************
                  About Page
  **********************************************/
  #slide-about {
    background: url(images/timeline-image.jpg) center center no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 50vh;
    background-attachment: fixed;
    color: #fff;
  }
  #slide-about h1 {
    font-weight: 600;
    font-size: 3rem;
  }
  #slide-about p::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: -20px;
    height: 20px; 
    background: url(images/main-slider-shape-1.png) center center no-repeat;
    background-size: contain;
    z-index: 100;
  }
  #slide-about .overlay {
    background-image: linear-gradient(90deg,rgba(0,0,0,.5) 30%,transparent);
    min-height: 50vh;
  }
  #about h2 {
    font-weight: 600;
    font-size: 2.5rem;
    color: #0B9444;
    margin-bottom: 1.5rem;
  }
  #about p {
    font-weight: 300;
    color: #3C3C3C;
  }
  #about .img-abt {
    position: relative;
    max-width: 100%;
    width: 350px;
    max-height: 100%;
    float: right !important;
  }
  #about .img-abt img {
    border-radius: 15px;
  }
  #about .img-abt .tox-img {
    position: absolute;
    max-width: 231px;
    right: 12rem;
    top: 7rem;
  }
  #count {
    position: relative;
    background-image: url(images/bg-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
  }
  #count h2 {
    font-weight: 600;
    color: #3C3C3C;
    margin-bottom: 3rem;
    text-align: center;
  }
  #count h4 {
    font-weight: 600;
    font-size: 3rem;
    color: #0B9444;
  }
  #count span {
    font-weight: 600;
  }



  /**********************************************
                  Market Place Page
  **********************************************/

  #slide-market {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(images/market-place.jpg) center center no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    min-height: 50vh;
    color: #fff;
  }
  #slide-market h1 {
    font-weight: 600;
    font-size: 3rem;
  }
  #slide-market p::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: -20px;
    height: 20px;
    background: url(images/main-slider-shape-1.png) center center no-repeat;
    background-size: contain;
    z-index: 100;
  }
  #cta {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
  #cta .item-img {
    position: relative;
    display: inline-block;
  }
  #cta img {
    width: 80px;
  }
  #cta .detail {
    margin-left: 1rem;
  }
  #cta .detail h4{
    font-weight: 600;
    font-size: 1.2rem;
    color: #3C3C3C;
  }

  #products .product__all-single {
    position: relative;
    display: block;
    margin-bottom: 21px;
  }
  #products .product__all-img-box {
    position: relative;
    display: block;
  }
  #products .product__all-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 2rem;
    border: 1px solid #ece9e0;
    border-radius: 20px;
    transition: all 500ms ease;
    overflow: hidden;
  }
  #products .product__all-img img {
    width: 100%;
    transition: all 500ms ease;
  }
  #products .product__all-sale {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 156px;
    height: 20px;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #0B9444;
    border-radius: 10px;
  }
  #products .product__all-img-icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg) scale(0);
    transition: all 500ms ease;
    z-index: 2;
  }
  #products .product__all-img-icon a {
    position: relative;
    height: 70px;
    width: 70px;
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #0B9444;
    border-radius: 50%;
    transition: all 500ms ease;
    opacity: 0.8;
  }
  #products .product__all-single:hover .product__all-img-box {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 60px 0px rgb(0 0 0 / 5%);
  }
  #products .product__all-single:hover .product__all-img img {
    transform: scale(1.05);
  }
  #products .product__all-single:hover .product__all-img-icon {
    transform: rotate(0deg) scale(1);
    transition-delay: 200ms;
  }
  #products .product__all-single h4{
    font-weight: 600;
    font-size: 1.4rem;
    margin-top: 1rem;
    text-align: center;
  }
  #products .product__all-single h4 a {
    color: #3C3C3C;
  }
 


  /**********************************************
              Single Product Page
  **********************************************/

  #single-product {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(images/single-product.jpg) center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
    color: #fff;
    background-attachment: fixed;
  }
  #single-product h1 {
    font-weight: 600;
    font-size: 3rem;
  }
  #single-product p {
    background-color: #E8D52C;
    color: #fff;
    padding: 0.4rem 1rem;
    border-radius: 20px;
  }
  #single-product .overlay {
    background-image: linear-gradient(90deg,rgba(0,0,0,.7490196078) 40%,transparent);
    height: 50vh;
    z-index: 2;
    width: 100%;
  }

  #product-details img {
    width: 100%;
    border: 1px solid #ece9e0;
    border-radius: 20px;  
  }
  #product-details .product-details__title {
    font-weight: 600;
    color: #3C3C3C;
    margin-bottom: 2rem;
  }
  #product-details .line {
    border: 1px solid #d7d4d4;
    margin-bottom: 2rem;
  }
  #product-details .product-details__reveiw i {
    color: #E8D52C;
    margin-right: 0.7rem;
  }
  #product-details p {
    font-weight: 300;
    color: #3C3C3C;
    line-height: 25px;
    margin-top: 2rem;
  }
  #product-details .statut h4 {
    font-size: 1rem;
    color: #3C3C3C;
  }
  #product-details .statut .signal {
    background-color: #0B9444;
    width: 25px;
    height: 25px;
    margin-right: 1rem;
    border-radius: 50%;
  }
  #formular .btn-outline-secondary {
    background-color: #0B9444;
    color: #fff;
  }
  

  /**********************************************
                  Services Page
  **********************************************/

  #slide-service {
    background: url(images/slide-service.jpeg) center center no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 50vh;
    color: #fff;
  }
  #slide-service h1 {
    font-weight: 600;
    font-size: 3rem;
  }
  #slide-service p::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: -20px;
    height: 20px;
    background: url(images/main-slider-shape-1.png) center center no-repeat;
    background-size: contain;
    z-index: 100;
  }
  #slide-service .overlay {
    background-image: linear-gradient(90deg,rgba(0,0,0,.5) 100%,transparent);
    height: 50vh;
  }
  #details p {
    font-weight: 300;
    color: #3C3C3C;
    line-height: 30px;
    margin: 0 auto;
  }
  #faq {
    background-image: url(images/faq-page-shape-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 3rem;
  }
  #faq h2 {
    font-weight: 600;
    color: #3C3C3C;
    margin-bottom: 3rem;
  }
  #faq .faq-one-accrodion .accrodion {
    position: relative;
    display: block;
    margin-bottom: 1.5rem;
    transition: all 500ms ease;
    background-color: #fff;
    border: 1px solid #ece9e0;
    border-radius: 15px;
  }
  #faq .faq-one-accrodion .accrodion::before {
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    width: 10px;
    content: "";
    background-color: #0B9444;
    transition: all 500ms ease;
    z-index: 1;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    visibility: hidden;
  }
  #faq .faq-one-accrodion .accrodion.active {
    border: 1px solid #ece9e0;
    border-radius: 15px;
    margin-bottom: 1.5rem;
    box-shadow: 0px 20px 20px 0px rgb(0 0 0 / 3%);
  }
  #faq .faq-one-accrodion .accrodion.active::before {
    transform: scaleY(1);
    visibility: visible;
  }
  #faq .faq-one-accrodion .accrodion-title {
    position: relative;
    display: block;
    cursor: pointer;
    padding: 1.5rem 2.5rem 1.7rem;
    padding-right: 1.6rem;
    transition: all 200ms linear;
    transition-delay: 0.1s;
  }
  #faq .faq-one-accrodion .accrodion-title h4 {
    position: relative;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 28px;
    margin: 0;
    transition: all 500ms ease;
  }
  #faq .faq-one-accrodion .accrodion-title h4::before {
    position: absolute;
    content: "\f2c6";
    font-family: 'bootstrap-icons' !important;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
    transition: all 500ms ease;
  }
  #faq .faq-one-accrodion .accrodion.active .accrodion-title h4::before {
    position: absolute;
    content: "\f622";
    font-family: 'bootstrap-icons' !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 50%;
  }
  #faq .faq-one-accrodion .accrodion-content {
    position: relative;
    padding: 0px 40px 30px;
    display: none;
  }
  #faq .faq-one-accrodion .accrodion-content p {
    margin: 0;
    line-height: 32px;
  }
  
  
  /**********************************************
                  Contact Page
  **********************************************/
  #infoline {padding-bottom: 0px !important;}
  #infoline .contact-item {
    position: relative;
    display: flex;
    align-items: center;
  }
  #infoline .item-img {
    position: relative;
    display: inline-block;
  }
  #infoline .item-img img {
    max-width: 100%;
    width: 50px;
    max-height: 100%;
  }
  #infoline .detail {
    margin-left: 1rem;
  }
  #infoline .detail h4{
    font-weight: 600;
    font-size: 1.5rem;
    color: #3C3C3C;
  }
  #infoline .detail a {
    color: #3C3C3C;
  }
  #infoline .detail a:hover {
    color: #0B9444;
  }
  #infoline .line {
    width: 100%;
    height: 1px;
    background-color: #8c8c8c;
    margin-top: 3rem;
  }
  #formular {
    background-image: url(images/bg-3.jpg);
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #formular .title {
    position: relative;
    text-align: center;
  }
  #formular .title::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 4px;
    top: 4rem;
    background: #0B9444;
  }
  #formular label {
    font-weight: 500;
    color: #3C3C3C;
  }
  #formular .form-control {
    border-radius: 20px;
  }
  #formular .form-control.quantity {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
  }
  #formular .form-control:focus {
    outline: 0;
    box-shadow: none;
  }
  #formular .btn-send {
    font-weight: 600;
    background-color: #0B9444;
    color: #fff;
    width: 150px;
    height: 45px;
    line-height: 30px;
    margin-top: 2rem;
    border-radius: 20px;
  }


  /**********************************************
                    Blog Page
  **********************************************/

  #slide-blog {
    background: url(images/Slide-blog.jpeg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
    color: #fff;
  }
  #slide-blog .overlay {
    background-image: linear-gradient(90deg,rgba(0,0,0,.5) 100%,transparent);
    height: 50vh;
    width: 100%;
    z-index: 2;
  }
  #slide-blog h1 {
    font-weight: 600;
    font-size: 3rem;
  }
  #posts h2 {
    font-weight: 600;
    color: #3C3C3C;
    text-transform: uppercase;
  }
  #posts span {
    font-weight: 300;
  }
  #posts .blog-one {
    position: relative;
    display: block;
    margin-top: 1.5rem;
  }
  #posts .blog-one .blog-one-img {
    position: relative;
    display: block;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    z-index: 1;
  }
  #posts .blog-one .blog-one-img .blog-date {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #0B9444;
    color: #fff;
    padding: 11px 20px 0px;
    border-top-left-radius: 15px;
    z-index: 2;
  }
  #posts .blog-one .blog-content {
    position: relative;
    display: block;
    background-color: #f0f0f0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 1.4rem 2.5rem 2rem;
  }
  #rposts .blog-one .blog-content span {
    font-weight: 500;
    font-size: 1rem;
    color: #2c2f33;
  }
  #posts .blog-one .blog-content a {
    font-weight: 600;
    font-size: 1.2rem;
    color: #3C3C3C;
    margin-top: 1rem;
  }
  #posts .paginate ul {
    list-style: none;
    padding-top: 3rem;
    margin: 0;
  }
  #posts .paginate ul li {
    display: inline;
  }
  #posts .paginate ul li a {
    font-weight: 500;
    color: #3C3C3C;
    margin-right: 2rem;
  }


/**********************************************
              Single Post Page
**********************************************/

#slide-post {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(images/blog-img.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  color: #fff;
}
#slide-post h1 {
  font-weight: 600;
  font-size: 3rem;
}
#detail-post p {
  font-weight: 300;
  line-height: 25px;
  margin-top: 2rem;
}
#detail-post h3 {
  color: #3C3C3C;
  margin-top: 2rem;
}
#detail-post .social ul {
  list-style: none;
  padding: 0;
  margin: 0;
  float: right;
}
#detail-post .social ul li {
  display: inline-block;
  margin-right: 1rem;
}
#detail-post .social ul li a {
  font-size: 1.5rem;
  color: #0B9444;
}





/**********************************************
                  Charity Page
**********************************************/

  #slide-charity {
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    background-image: url(images/charity.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    color: #fff;
  }
  #slide-charity h1 {
    position: relative;
    display: flex;
    z-index: 100;
    justify-content: center;
    align-items: center;
    top: -300px;
    font-weight: 600;
    font-size: 3rem;
  }
  #slide-charity p {
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
    top: -310px;
  }
  #slide-charity p::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: -20px;
    height: 20px;
    background-image: url(images/main-slider-shape-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 100;
  }
  #slide-charity .overlay {
    background-image: linear-gradient(90deg,rgba(0,0,0,.7490196078) 20%,transparent);
    height: 500px;
    z-index: 2;
    opacity: 0.4;
  }



  /**********************************************
                  Footer Site
  **********************************************/
  #site-footer {
    position: relative;
    display: block;
    background-color: #089a45;
    z-index: 1;
    opacity: 89%;
    padding-bottom: 0 !important;
  }
  #site-footer .footer-inner {
    position: relative;
    display: block;
  }
  #site-footer .footer-inner .footer-shape {
    position: absolute;
    background-image: url(images/about-one-shape-1.png);
    left: 0;
    right: 0;
    top: 40px;
    bottom: 0;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.07;
    z-index: -1;
  }
  #site-footer .footer-top {
    margin-bottom: 2rem;
  }
  #site-footer .footer-top .footer-inner img {
    max-width: 100%;
    width: 100px;
    max-height: 100%;
    border-radius: 50%;
  }
  #site-footer .footer-top .footer-inner p {
    margin-top: 1rem;
    color: #fff;
  }
  #site-footer .footer-top .footer-inner h3 {
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    color: #fff;
  }
  #site-footer .footer-top .footer-inner ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  #site-footer .footer-top .footer-inner ul li {
    margin-bottom: 1rem;
  }
  #site-footer .footer-top .footer-inner ul li a {
    color: #e0e0e0;
  }
  #site-footer .footer-top .footer-inner ul li a :hover {
    color: #fff;
  }
  #site-footer .footer-top .footer-inner .infoline li {
    color: #fff;
  }
  #site-footer .footer-top .footer-inner .infoline {
    padding: 1.5rem 1rem;
    border: 2px solid #E8D52C;
    border-radius: 15px;
  }
  #site-footer .footer-bottom {
    position: relative;
    display: block;
    z-index: 1;
  }
  #site-footer .footer-bottom .footer-inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #227143;
    padding: 1.4rem 0 1.4rem;
    padding-left: 120px;
    border-top-left-radius: 15px;
    text-align: center;
    color: #fff;
    z-index: 1;
  }
  #site-footer .footer-bottom .footer-inner::before {
    position: absolute;
    content: "";
    bottom: 0;
    right: -10000000px;
    left: 100%;
    top: 0;
    background-color: #227143;
    z-index: -1;
  }
  #site-footer .footer-bottom .footer-inner .bottom-scroll {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
  }
  #site-footer .footer-bottom .footer-inner .bottom-scroll a {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    top: 0;
    width: 80px;
    height: 85px;
    background-color: #0B9444 !important;
    border-top-left-radius: 15px;
    color: #e0e0e0;
    z-index: 100;
  }